#centering {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #fff inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

img {
  margin: 20px;
}

@media screen and (max-width: 900px) {
  img {
    width: 90%;
  }
}
